* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand, .nav-link{
  font-size: 1.2em
}



.capstone-border{
  margin-top: 30px;
}

@media (max-width: 766px){
  .profile-text{
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 425px){
  .profile-text{
    margin-top: 30px;
    text-align: center;
  }


}