* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-profile {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1024px) {
  .profile-text {
    width: 400px;
  }

  .profile-text h1 {
    font-size: 28px;
    font-weight: 550;
  }

  .profile-text h4 {
    font-size: 14px;
  }

  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .profile-container {
    padding-bottom: 100px;
  }

  .profile-text {
    text-align: center;
    width: 400px;
  }

  .profile-text h1 {
    font-size: 24px;
  }

  .profile-text h4 {
    font-size: 14px;
  }

  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
}

@media (max-width: 425px) {
  .container-profile {
    width: 425px;
  }
  .profile-text {
    text-align: center;
  }

  .profile-text h1 {
    font-size: 24px;
  }

  .profile-text h4 {
    font-size: 14px;
  }

  .profile-text p {
    font-size: 12px;
    width: 150px;
  }

  .profile-picture {
    height: 100px;
    width: 270px;
  }
}
