* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VIEWPORT */
.main {
  height: 70vh;
}

.project {
  height: 65vh;
}

.tech {
  height: 80vh;
}

/* VIEWPORT END */

.navbar-brand,
.nav-link {
  font-size: 1.2em;
}

.capstone-border {
  margin-top: 30px;
}

.icon {
  width: 100%;
}

.css {
  width: 140px;
}

iframe {
  width: 600px;
  height: 400px;
}

textarea {
  width: 650px;
  height: 150px;
  padding: 10px;
}

/* MEDIA QUERY */
@media (max-width: 1194px) and (min-width: 1024px) {
  .css {
    width: 110px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .css {
    width: 70px;
  }

  /* VIEWPORT */
  .tech {
    height: 65vh;
  }
}

@media (max-width: 768px) {
  .profile-text {
    margin-top: 30px;
    text-align: center;
  }

  .icon {
    width: 120px;
    padding: 10px;
  }

  .css {
    width: 100px;
  }

  /* VIEWPORT */
  .main {
    height: 80vh;
  }
}

@media (max-width: 425px) {
  .profile-text {
    margin-top: 30px;
    text-align: center;
  }

  .icon {
    width: 150px;
    padding: 10px;
  }

  .css {
    width: 120px;
  }

  /* VIEWPORT */
  .main {
    height: 100vh;
  }

  .tech {
    height: 110vh;
  }
}

@media (max-width: 375px) {
  .icon {
    width: 120px;
  }
  .css {
    width: 100px;
  }

  .footer-text {
    font-size: 18px;
  }

  /* VIEWPORT */
  .main {
    height: 80vh;
  }

  .tech {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  .main {
    height: 80vh;
  }

  .project {
    height: 80vh;
  }

  /* VIEWPORT */
  .tech {
    height: ;
  }
}
